    <!--==================================================
        HACE TU PEDIDO
    ===================================================-->

    <div class="producto_barra">
        
    </div>

    <div class="producto_pedido">
        <div class="producto_pedido_icono">
            <i class="fas fa-chevron-down"></i>
        </div>
    </div>

    <div class="pedido">
        <div class="pedido_titulo">
            <h2>HACE TU PEDIDO AHORA</h2>
        </div>
        <div class="pedido_hora">
            <h4>Horarios de atención: LUN a VIE de 9 a 20 hs</h4>
        </div>
        <div class="pedido_logo">
            <div class="pedido_imagen">
                <div class="    ">
                    <h2>(11) XXXX XXXX</h2>
                </div>
                <div class="pedido_copas">
                    <img src="/img/vectors/copas.png" alt="copas" >
                </div>
            </div>
            <div class="pedido_codigo">

            </div>
        </div>
    </div>

    
    <!--=====================================
    F O O T E R
    ======================================-->
    
    <footer>
        <section class="container-footer">
            <div class="clients-footer">
                <h3>CLIENTES</h3>
                <ul class="ul-clients">
                    <li><a href="#"></a>Defensa del Consumidor</li>
                    <li><a href="#"></a>Protección de datos personales</li>
                </ul>
            </div>
            <div class="social-footer">
                <h3>SEGUINOS</h3>
                <ul class="ul-social">
                    <li><a href="#" target="_blank" id="twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank" id="facebook"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#" target="_blank" id="instagram"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="contact-footer">
                <a href="#" target="_blank" id="whatsapp"><i class="fab fa-whatsapp"></i>(351) 374 2005</a>
            </div>
        </section>

        <div class="copy-footer">
            <p>Brainstorming SRL</p>
            <p>2021 © All rights reserved.</p>
        </div>
    </footer>
      
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/script.js" type="text/javascript"></script>
</body>
</html>