/*==================================================
    Tipografía
==================================================*/

@font-face {
    font-family: 'Bebas Neue';
    font-style: regular;
    src: url('/fonts/BebasNeue-Regular.ttf');
}

/*==================================================
    Estilo Global
==================================================*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*==================================================
    Estilo del Body
==================================================*/

body {
    font-family: 'Bebas Neue', cursive;
}

a {
    text-decoration: none;
}
  
/* ------ HEADER ------ */
.contact-header,
.main-navbar {
  display: none;
}
.main-header {
  padding: 10px;
  width: 100%;
  height: 80px;
  background-image: url("/img/wall/wall-violeta-2.jpg");
  background-size: cover;
  background-position: center;
}
.container-top-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
ul li {
  list-style: none;
}
/* .logo {
  width: 70px;
  display: none;
} */
.logo-client {
  margin-right: 10px;
  font-size: 20px;
  letter-spacing: 0.7px;
  color: var(--blanco);
}
.logo-client i {
  margin-right: 5px;
  font-size: 20px;
  margin-left: 25px;
}
.logo-bag i {
  font-size: 25px;
  color: var(--blanco);
}
.container-burger {
  width: 0;
}
.container-burger i {
  font-size: 28px;
  color: var(--blanco);
}

/* ------ SECCION FILTROS ------ */
.section-selections {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.section-selections button,
.section-selections input {
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
  padding: 5px 16px;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
}
.section-selections div,
.section-selections form {
  margin-top: 15px;
  font-size: 20px;
}
.filter button,
.category button {
  width: 85vw;
  position: relative;
}
.filter i,
.category i {
  position: absolute;
  right: 20px;
}


/* CONTENEDOR TITULO */
.container-form {
    display: flex;
    /* border: 2px solid black; */
    width: 90%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.form-register {
    width: 100%;
    /* border: 2px solid brown; */
}

.container-title h1 {
    font-size: 34px;
    color: var(--rosado);
}

.container-title h2{
    display: none;
}


/* CONTENEDOR DE CAMPOS REGISTROS */

.field-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    /* border: 1px solid green; */
}

.form-group {
    width: 100%;
    /* border: 1px solid red; */
}

.form-group input {
    width: 100%;
    height: 40px;
    padding: 7.15px 15px;
    font-family: 'Bebas Neue';
    font-size: 1.25rem;
    font-weight: normal;
    margin-bottom: 15px;
    color: var(--grisClaro);
    border: 2px solid var(--rosado);
}

.form-group input::placeholder {
    color: var(--rosado);
}

.form-group input:focus {
    outline: none;
    border: 2px solid var(--rosado);
    border-top: 3px solid var(--rosado);
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.form-group select {
    width: 100%;
    height: 40px;
    padding: 7.15px 15px;
    font-family: 'Bebas Neue';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 15px;
    color: #555555;
    border: 2px solid var(--rosado);
}

.form-group select option {
    /* font-size: 1.25rem; */
    font-style: normal;
    font-weight: normal;
    color: #555555;
}

.form-group select:focus {
    font-style: normal;
    font-weight: normal;
    outline: none;
    border: 2px solid var(--rosado);
    border-top: 3px solid var(--rosado);
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.form-group p {
    font-family: sans-serif;
    font-size: 10px;
    color: var(--grisClaro);
    margin-bottom: 15px;
}

.form-group h4 {
    font-style: normal;
    font-weight: normal;
    color: var(--rosado);
    margin-bottom: 14px;
}

.field-street {
    display: flex;
    flex-direction: column;
    /* border: 1px solid cyan; */
}

.field-place {
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(24, 9, 92); */
}

/* SECTOR DE CONTRASEÑAS */

.line-container {
    margin-top: 15px;
    margin-bottom: 30px;
    border-top: 1px solid var(--grisClaro);
}

.pass-container {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    height: 40px;
    /* border: 1px solid violet; */
    justify-content: flex-end;
}

.button-register {
    width: 40%;
    /* border: 1px solid purple; */
}

.button-register button {
    width: 100%;
    height: 100%;
    font-family: 'Bebas Neue';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: normal;
    color: var(--rosado);
    padding: 0;
}

/*** CAMBIO COLOR A BOTÓN GROW BOX ***/
.ov-btn-grow-box {
    color: var(--rosado) !important; /* color de fuente */
    border: 2px solid var(--rosado) !important; /* tamaño y color de borde */
}

.ov-btn-grow-box:hover {
    color: var(--blanco) !important;/* color de fuente hover */
}

.ov-btn-grow-box::after {
    background: var(--rosado) !important; /* color de fondo hover */
}


/*==================================================
    HACE TU PEDIDO
==================================================*/

.producto_barra {
    margin-top: 80px;
    height: 30px;
    background-color: var(--beige);
}

.producto_barra hr {
    border: 2px solid var(--negro);
}

.producto_pedido {
    /* margin-top: 40px; */
    background-color: var(--beige);
    height: 40px;
}

.producto_pedido_icono {
    width: 25px;
    height: 25px;
    background-color: var(--negro);
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin: auto;
}

.producto_pedido_icono i {
    text-align: center;
    justify-content: center;
    font-size: 16   px;
    margin-top: 5px;
    color: var(--blanco);
}

.pedido {
    background-color: var(--beige);
}

.pedido .pedido_titulo h2 {
    font-family: sans-serif;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 2px;
}

.pedido .pedido_hora h4 {
    font-family: sans-serif;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

.pedido_numero h2 {
    text-align: center;
}

.pedido_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
}


/*================================================
FOOTER
================================================*/

/* ------ FOOTER ------ */
footer {
    width: 100%;
    margin: auto;
    padding: 0 15px;
    background-color: #e6d3ca;
}
.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    align-items: baseline;
}
footer h3 {
    font-size: 15px;
}
footer a {
    text-decoration: none;
    color: black;
}
.ul-clients {
    font-size: 11px;
}
.ul-social {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.contact-footer {
    font-size: 15px;
    height: 0;
}
.contact-footer i {
    margin-right: 5px;
}
.copy-footer {
    text-align: right;
}
.copy-footer p {
    font-size: 10px;
}

/*==================================================
    PUNTOS DE QUIEBRES
==================================================*/

/*==================================================
    TABLET
==================================================*/

@media (min-width: 481px) {

    .form-register {
        display: flex;
        width: 100%;
    }

    /* CONTENEDOR TITULO */
    .container-form {
        width: 80%;
    }

    .form-register {
        display: flex;
        flex-direction: column;
    }

    .container-title h2{
        display: block;
        font-size: 28px;
        font-style: normal;
        font-weight: normal;
        color: var(--rosado);
    }

    .form-container {
        width: 100%;
        /* border: 2px solid #B5A37D; */
    }

    .field-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* border: 2px solid #b37b03; */
    }

    .fieldA-container {
        width: 48%;
        /* border: 1px solid yellow; */
    }

    .fieldB-container {
        width: 48%;
        /* border: 1px solid pink; */
    }

    .container-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* border: 1px solid blue; */
    }

    .field-street {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* border: 1px solid cyan; */
    }

    .street {
        width: 60%;
    }

    .numbers {
        width: 30%;
    }

    .field-place {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* border: 1px solid rgb(24, 9, 92); */
    }

    .floor {
        width: 29%;
    }

    .department {
        width: 29%;
    }

    .code {
        width: 29%;
    }

    .pass-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .password {
        width: 48%;
    }

    .repeatPass {
        width: 48%;
    }

}

/*==================================================
    LAPTOP
==================================================*/

@media (min-width: 768px) {

    /* ------ HEADER ------ */
    .main-header {
        height: 110px;
        padding: 15px 10px;
    }
    .container-burger {
        display: none;
    }
    .main-header a {
        color: var(--blanco);
    }
    .container-top-header {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0 20px;
    }
    .contact-header,
    .main-navbar {
        display: flex;
    }
    #whatsapp {
        font-size: 21px;
        margin-right: 30px;
    }
    .contact-header i {
        font-size: 21px;
        margin-right: 15px;
    }
    .social {
        display: flex;
        flex-wrap: wrap;
    }
    .social li {
        margin-right: 10px;
    }
    .logo-client{
        margin-right: 20px;
    }
    .logo-client i {
        margin-right: 10px;
        font-size: 22px;
    }
    .logo-bag {
        margin-right: 12px;
    }
    .main-navbar {
        justify-content: space-between;
        padding-top: 25px;
    }
    .main-navbar a {
        font-size: 18px;
        margin: 0 20px;
    }
    .left-navbar,
    .right-navbar {
        display: flex;
        justify-content: space-around;
    }

    /* ------ SECCION FILTROS ------ */
    .section-selections {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 30px 0 20px 0;
    }
    .filter button,
    .category button {
        width: 27vw;
        margin-right: 15px;
    }
    .section-selections div,
    .section-selections form {
        margin: 0;
    }

    /* CONTENEDOR TITULO */
    .container-form {
        width: 70%;
    }

    /* ------ FOOTER ------ */
    .container-footer {
        justify-content: space-around;
        height: 70px;
    }
    footer h3 {
        font-size: 17px;
        letter-spacing: 1.5px;
    }
    .ul-clients {
        font-size: 12px;
    }
    .ul-clients li {
        padding: 3px 0;
    }
    .ul-social {
        padding-top: 6px;
    }
    .ul-social li {
        margin-right: 10px;
    }
    .copy-footer p {
        font-size: 11px;
    }
    .contact-footer a {
        font-size: 20px;
        margin-right: 15px;
        /*   font-size: 15px;
    height: 0; */
    }
    .contact-footer #whatsapp{
        font-size: 18px;
    }

}

/*==================================================
    TV
==================================================*/

@media (min-width: 1200px) {

    /* ------ HEADER ------ */
    .logo-client {
        margin-right: 50px;
    }
    .main-navbar {
        justify-content: space-around;
    }
    .main-navbar a {
        font-size: 24px;
        margin: 0 30px;
    }
    .logo-client{
        font-size: 23px;
    }
    /* ------ SECCION FILTROS ------ */
    .filter button,
    .category button,
    form {
        margin-right: 50px;
        width: 23vw;
    }

    /* CONTENEDOR TITULO */
    .container-form {
        width: 60%;
    }

    /* ------ FOOTER ------ */

    footer h3 {
        font-size: 20px;
        letter-spacing: 2.5px;
    }

    .container-footer {
        width: 90%;
    }
    .ul-clients {
        font-size: 15px;
    }
    .ul-clients li {
        padding: 3px 0;
    }
    .ul-social li {
        margin-right: 16px;
    }
    .contact-footer a {
        font-size: 20px;
        margin: 0;
    }
    .copy-footer p {
        font-size: 15px;
    }

}
