<%- include('../partials/head') %>
    <title>Ecommerce Brainstorming - Perfil Usuario</title>
    <!-- Estilos del Home -->
    <link rel="stylesheet" href="/css/profile.css">

</head>
<%- include('../partials/header') %>


<main>
    <div class="dataProfile">

    </div>
    <div class="dataProfile2">
        
    </div>
</main>


<%- include('../partials/footer') %>